{% extends "base.html" %}
{% load static %}



{% block content %}
<div class="content-wrap my-5 mx-5 text-justify">
									<div class="content">
										<p><img alt="" src="/media/cms/Website_Essentitals_Big_53FE5B7E9F6FF.jpg" style="max-width:100%"></p>
<h1>Features</h1>
<p>Embarking on a website project? If you are overwhelmed, we hear you. There’s a lot to consider. While we know every business is unique, there are a few things you should always plan for when you’re designing and developing a website. Here are 6 important features any website should include.</p>

<h2>A Simple, Easy to Remember URL:&nbsp;</h2>

<p>If you are a new business, one without a website, you may be excited to get one up and running as soon as possible. But make sure you do the research and take a calculated approach when it comes to deciding on a URL. Consider your business goals and make sure whatever you choose is memorable. A few guidelines: Simple is better; the URL should be marketable and easy for users to type into their browser's address bar. Also, a good rule of thumb: Stick with .com or .org web addresses whenever possible. These are considered more credible by users and by search engines.</p>

<h2>A Clear Description of Your Business:</h2>

<p>If users stumble across your website, you need to make a good first impression and clearly communicate to them why your website exists in the first place. Who are you and why are you here?&nbsp;Make sure your homepage contains some kind of mission statement or hero message that summarizes what your business does.</p>

<h2>Call to Actions:</h2>

<p>Having a website is good. Getting people to that website is better. But getting those visitors to convert into actual purchases or leads is really what matters in the big picture. In order to do that, you need to be blunt about the action you want them to take after they land on your webpage. That might mean making a purchase, submitting a contact form, or even subscribing to a newsletter. Whatever it is you want visitors to do, tell them through carefully crafted call to actions.</p>

<h2>Contact Information:</h2>

<p>This may seem obvious, but do not forget to place your business name, address and phone number in the footer of your website. Users who scroll down to the footer are on a mission to find this information about your business. Just as readers know to flip to the back of a book for an index or glossary, they too understand that the best place to find contact information on a website is within the footer.&nbsp;</p>

<h2>Mobile Friendly or Responsive Design:</h2>

<p>So many people rely on their phones and tablets to access the web. This means, if you are going to design a website for your business, you pretty much have to make sure that it will display nicely on smaller screens. Making this a priority means you are providing top-notch customer service to your mobile and desktop visitors. And a bonus? It can give you an advantage as far as search rankings go.&nbsp;</p>

<h2>Staff Photos and Biographies:</h2>

<p>Consumers don’t just want to know <em>what you do</em>. They want to know <em>who you are</em>. Your website is a place where you should be marketing yourself, and in a world full of automation, people crave a personal connection. Additionally, pairing credentials with a face gives consumers a sense of trust, which is something everyone wants when money is being exchanged.&nbsp;</p>

<p>Looking to start up your next web project? <a href="/contact">Send us a message to speak to a project manager now</a>!&nbsp;</p>
									</div>

										<div class="right-side-col">

			<div class="text-center">

					<button class="btn btn-lg bg-success my-5" type="button" name="button">Subscribe</button>


			</div>



										</div>

								</div>
{% endblock %}
